<!doctype html>
<html>
<head>
	<title>Meal Planner</title>
	<link rel="stylesheet" th:href="@{/webjars/styles/css/main.css}" />
	<link rel="stylesheet" th:href="@{/css/main.css}"/>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
	<div id="navigation"></div>

	<div class="landing_feature">
		<h2>Featured recipes from members</h2>
		<div id="featuredRecipes" th:unless="${#lists.isEmpty(recipes)}">
			<div class="recipe" th:each="recipe : ${recipes}">
				<div class="recipeTeaserImage">
					<a th:href="${mainApplicationURL} + '/recipes/' + ${recipe.id}"><img src="http://placehold.it/300x200" th:alt="${recipe.name}"/></a>
					<a th:href="${mainApplicationURL} + '/recipes/' + ${recipe.id}"><div class="caption" th:text="${recipe.name}"></div></a>
				</div>
			</div>
		</div>
	</div>

	<div class="landing_footer">
		<div>
			<h2>Meal Planner</h2>
			<ul>
				<li>Who makes Meal Planner</li>
				<li>Send Feedback</li>
			</ul>
		</div>

		<div>
			<h2>Help &amp; Support</h2>
			<ul>
				<li>FAQ</li>
				<li>Contact a human</li>
			</ul>
		</div>

		<div>
			<h2>Rules of the game</h2>
			<ul>
				<li>Privacy</li>
				<li>Terms of use</li>
				<li>Security</li>
			</ul>
		</div>
	</div>
	<script th:include="navigation/topmenu :: topmenu"></script>
</body>
</html>
