<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
  <head>
  <body>
		<script th:fragment="topmenu">
		  $(document).ready(function() {
		    $('#navigation').load('/navigation/ #navbar', function(responseText, status){
		      if (status !== 'success') {
		        $('#navigation').html('<div id="navbar" class="landing_header"><a href="./"><img src="http://placehold.it/200x45"/></a><a href="./" class="landing_menu_item">Home</a></div>');
		      }
		    });
		    
		  });
		</script>
</body>
</html>
