/* line 1, ../../src/main/resources/sass/main.scss */
BODY {
  background: white;
  font-family: Sans-Serif;
}

/* line 6, ../../src/main/resources/sass/main.scss */
.sidebar {
  grid-area: sidebar;
}

/* line 10, ../../src/main/resources/sass/main.scss */
.content {
  grid-area: content;
}

/* line 14, ../../src/main/resources/sass/main.scss */
.header {
  grid-area: header;
}

/* line 18, ../../src/main/resources/sass/main.scss */
.footer {
  grid-area: footer;
  border-top: thin solid silver;
}

/* line 23, ../../src/main/resources/sass/main.scss */
.wrapper {
  display: grid;
  grid-template-columns: 200px 10px auto;
  grid-template-rows: auto;
  grid-template-areas: "header header header"  "sidebar . content" "footer footer footer";
}

/* line 33, ../../src/main/resources/sass/main.scss */
.footer UL {
  display: grid;
  grid-template-columns: auto 150px 150px 150px auto;
  grid-template-rows: auto;
}

/* line 39, ../../src/main/resources/sass/main.scss */
.footer UL LI {
  display: inline;
}

/* line 43, ../../src/main/resources/sass/main.scss */
H1.title {
  color: #3CB371;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

/* line 50, ../../src/main/resources/sass/main.scss */
UL.actionMenu {
  list-style-type: none;
  padding-left: 0px;
}

/* line 55, ../../src/main/resources/sass/main.scss */
.defaultValue {
  color: #d8d4d4;
}

/* line 59, ../../src/main/resources/sass/main.scss */
.unavailable {
  color: #d8d4d4;
}

/* line 63, ../../src/main/resources/sass/main.scss */
.hidden {
  display: none;
}
