<!doctype html>
<html>
  <head>
  </head>
  
  <body>
      <div id="navbar" class="landing_header">
        <a href="/"></a><img src="http://placehold.it/200x45"/></a>
        
        <a href="/about.html" class="landing_menu_item">About</a>
        <a href="/recipes" class="landing_menu_item">Recipes</a>
        
        <span class="landing_menu_item"><input id="tryIt" type="button" value="Try It"/></span>
        <a href="#" class="landing_menu_item" id="login">Log in</a>
    </div>
  </body>
</html>