<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Meal Planner</title>
	<link rel="stylesheet" href="../resources/assets/css/main.css"  th:href="@{/assets/css/main.css}"/>
	<script src="../resources/assets/js/jquery-3.2.1.min.js" th:src="@{/assets/js/jquery-3.2.1.min.js}"></script>
</head>

<body>
    <h1>Home for existing users</h1>
    <p>When an existing user has been recognized (Cookie or active login) this page is displayed.</p>

    <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>