<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head">
	<title>Meal Planner</title>
</head>

<body>
	<div class="wrapper">
		<div class="header">
			<h1 class="title">Meal Planner</h1>
		</div>
		<div class="sidebar">
			<ul class="actionMenu">
				<li class="unavailable" id="createAction">Create</li>
				<li class="unavailable">Read</li>
				<li class="unavailable">Update</li>
				<li class="unavailable">Delete</li>
			</ul>
		</div>
		<div class="content">
			<div id="welcome">
				<h2>Welcome</h2>
				<p>Work with your own recipes.</p>
				
				<h3>Use your existing social media account</h3>
				<p><img src="img/btn_google_signin_light_normal_web.png" width="191" height="46" alt="Btn Google Signin Light Normal Web"/></p>
				
				<h3>Use your email address</h3>
				<input id="email" type="text" name="email"/> <input id="join" type="button" value="Join"/>
				
				<p><input id="getStarted" type="button" value="Get started"/></p>

			</div>
			<div id="recipeForm" class="hidden" itemscope="" itemtype="http://schema.org/Recipe">
				<p itemprop="name" class="recipeName editable defaultValue">The name of your recipe</p>
				<p itemprop="description" class="editable defaultValue">Describe your recipe</p>
				<p>Yield: <span itemprop="recipeYield" class="editable defaultValue">For how many people</span></p>
	
				<p>Ingredients</p>
				<ul id="ingredientsList"></ul>
				<div id="ingredientsForm">	
					<input type="text" class="focusOnNext" name="ingredientQuantity" size="4" placeholder="qty"/>
					<input type="text" class="focusOnNext" name="ingredientUnit" size="10" placeholder="unit"/>	
					<input type="text" class="focusOnNext submit" name="ingredientName" size="30" placeholder="ingredient name"/>	
					<input type="button" value="Add Ingredient" id="addIngredient"/><br/>
				</div>
	
				<p>Instructions</p>
				<ul id="instructionsList"></ul>
				<div id="instructionForm">
					<textarea id="instruction" rows="4" cols="50" placeholder="Describe step by step how to cook this"></textarea>
					<input type="button" value="Add step" id="addInstruction"/>
				</div>
				<input type="button" value="Save" id="saveRecipe"/>
			</div>
		</div>
		<div class="footer">
			<ul>
				<li>&nbsp;</li>
				<li>About</li>
				<li>Data storage</li>
				<li>Change history</li>
				<li>&nbsp;</li>
			</ul>
		</div>
	</div>
	
	<script>
	$(document).ready(function(){
		
		$("#getStarted").click(function(){
			$('#createAction').removeClass('unavailable');
			$('#welcome').addClass('hidden');
			$('#recipeForm').removeClass('hidden');
		});
	
		$("#ingredientsForm .focusOnNext").keydown(function(e){
			if (e.which == 13) {
				$(this).next(".focusOnNext").focus();
			}
		});

		$("#ingredientsForm .submit").keydown(function(e){
			if (e.which == 13) {
				$("#addIngredient").click();
				$("#ingredientsForm input[name=ingredientQuantity]").focus();
			}
		});

		$("#addIngredient").click(function(){
			$('#ingredientsList').append('<li itemprop="recipeIngredient">' +
				$('#ingredientsForm input[name=ingredientQuantity]').val() + ' ' +
				$('#ingredientsForm input[name=ingredientUnit]').val() + ' ' +
				$('#ingredientsForm input[name=ingredientName]').val() + 
				'</li>');
			$('#ingredientsForm').trigger("reset");
		});

		$("#instructionForm #instruction").keydown(function(e){
			if (e.which == 13) {
				$("#addInstruction").click();
				$("#instructionForm #instruction").val("");
				return false;
			}
		});

		$("#addInstruction").click(function(){
			$("#instructionsList").append('<li itemprop="recipeInstructions">' +
				$('#instructionForm #instruction').val() +
				'</li>');
		});
	
		$("#saveRecipe").click(function(){
			var recipe = { 
				"recipeName": $("[itemprop=name]").text(), 
				"recipeDescription": $("[itemprop=description]").text(), 
				"recipeYield": $("[itemprop=recipeYield]").text(),
				"ingredients": [],
				"instructions": []
			} ;
		
			$.each()

			alert(JSON.stringify(recipe));
		});

	});
	</script>

	<script src="/js/form.js"></script>
	<script src="/js/dummy.js"></script>
</body>
</html>
