<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Welcome to Meal Planner</title>
	<link rel="stylesheet" href="../static/css/main.css"  th:href="@{/css/main.css}"/>
	<script src="../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
</head>

<body class="landing_page">
    <div class="landing_header">
        <h1 class="landing_title">Meal Planner</h1>
        
        <input id="signup" class="landing_button landing_try_it" type="button" value="Try Meal Planner"/>
        <input id="login" class="landing_button landing_login" type="button" value="Log in"/>
    </div>

    <div class="landing_overview">
        <h2>Meal Planner makes your life easier</h2>
        <ul>
            <li>Organize your own recipes</li>
            <li>Assign recipes to each day of the week</li>
            <li>Shopping list based on your meal plan for the week</li>
        </ul>
    </div>

    <div class="landing_feature">
        <h2>Use your own recipes</h2>
        <p>Meal Planner lets you enter and organize your own recipes.</p>
        <p>You can decide whether to share your recipes with others.</p>
    </div>

    <div class="landing_footer">
        <div class="landing_about">
            <h2>Meal Planner</h2>
            <ul>
                <li>Who makes Meal Planner</li>
                <li>Send Feedback</li>
            </ul>
        </div>

        <div class="landing_help">
            <h2>Help &amp; Support</h2>
            <ul>
                <li>FAQ</li>
                <li>Contact a human</li>
            </ul>
        </div>
        
        <div class="landing_rules">
            <h2>Rules of the game</h2>
            <ul>
                <li>Privacy</li>
                <li>Terms of use</li>
                <li>Security</li>
            </ul>
        </div>
    </div>
    
	<script src="../static/js/form.js" th:src="@{/js/form.js}"></script>
	<script src="../static/js/dummy.js" th:src="@{/js/dummy.js}"></script>
</body>
</html>
