<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Welcome to Meal Planner</title>
	<link rel="stylesheet" href="../static/css/main.css"  th:href="@{/css/main.css}"/>
	<script src="../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
</head>

<body>
    <h1>Login</h1>
    <div id="loginForm">
        <label for="email">Your email address</label> <input id="email" type="text" size="40" placeholder="Your email address"/>
        <label for="password">Password</label> <input id="password" type="password" size="14"/>
        <input id="submit" type="button" value="Login" style="grid-column: 2"/>
    </div>
    
	<script src="../static/js/dummy.js" th:src="@{/js/dummy.js}"></script>
</body>
</html>