<!doctype html>
<html>
	<head>
		<title>Recipes</title>
		<link rel="stylesheet" th:href="@{./webjars/styles/css/main.css}"/>
		<link rel="stylesheet" href="./css/recipes.css"/>
		<script src="./webjars/jquery/jquery.min.js"></script>
	</head>
	<body>
		<div id="navigation"></div>
		<div class="left-sidebar-content ">
			<div class="sidebar" th:include="navigation/sidebar :: sidebar"></div>
			<div>
				<h1>List of Recipes</h1>
				<div id="recipesList" th:unless="${#lists.isEmpty(recipes)}">
					<div class="recipe" th:each="recipe : ${recipes}">
						<div class="recipeTeaserImage">
							<a th:href="${recipe.id}"><img src="http://placehold.it/300x200"/></a>
							<div class="caption" th:text="${recipe.name}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script th:include="navigation/topmenu :: topmenu"></script>
	</body>
</html>
