<!doctype html>
<html>
	<head>
		<title>Recipes</title>
		<link rel="stylesheet" th:href="@{./webjars/styles/css/main.css}"/>
		<script src="./webjars/jquery/jquery.min.js"></script>
	</head>
	<body>
		<div id="navigation"></div>
		<div class="left-sidebar-content ">
			<div class="sidebar" th:include="navigation/sidebar :: sidebar"></div>
			<div>
				<h1>List of Recipes</h1>
				<div th:unless="${#lists.isEmpty(recipes)}">
					<table>
					    <tr th:each="recipe : ${recipes}">
					      <td th:text="${recipe.name}">Pancakes</td>
					    </tr>
					</table>
				</div>
			</div>
		</div>
		
		<script th:include="navigation/topmenu :: topmenu"></script>
	</body>
</html>
